<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

	<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
					<i class="fa fa-bars"></i>
				</button>
				<a class="navbar-brand" href="https://demo.hubzilla.org">
					<i class="fa fa-desktop"></i>  <span class="light">Demo</span> 
				</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse navbar-right navbar-main-collapse">
				<ul class="nav navbar-nav">
					<!-- Hidden li included to remove active class from about link when scrolled up past about section -->
					<li class="hidden">
						<a href="#page-top"></a>
					</li>
					<li>
						<a class="page-scroll" href="#top">Hubzilla</a>
					</li>   
					<li>
						<a class="page-scroll" href="#learn">Lernen</a>
					</li>   
					<li>
						<a class="page-scroll" href="#discover">Entdecken</a>
					</li>
					<!--
					 <li>
						 <a class="page-scroll" href="#faq">FAQ</a>
					 </li>
					-->
					<li>
						<a class="page-scroll" href="#download">Download</a>
					</li>
					<li>    
						<a class="page-scroll" href="#develop">Entwickeln</a>
					</li>
					<li>    
						<a class="page-scroll" href="https://project.hubzilla.org/channel/announcements/">Neuigkeiten</a>
					</li>
					<li id="hz-lang"  class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" data-target="#hz-lang" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-language" style="font-size: 1.4em;"></i><span class="caret"></span></a>
						<ul class="dropdown-menu lang-selector">
							<li><a class="lang-choice" href="#">en</a></li>
							<li><a class="lang-choice" href="#">ru</a></li>
							<li><a class="lang-choice" href="#">de</a></li>
						</ul>
					</li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container -->
	</nav>

	<div class="intro-body intro" >
		<div class="container">
			<div class="row">
				<div>
					<img class="img-responsive hubzillabanner" src="https://raw.githubusercontent.com/anaqreon/hubzilla-website/master/assets/img/newhubzillabanner.png"/>
				</div></div>
<div class="row">
				<div>
<p class="" style="font-size: 2em; font-weight: bold">Connecting free and independent communities across the web</p>
				</div></div>
			<div class="row">
				<div> 
					<p class="lead">Hubzilla ist eine leistungsfähige Plattform für das Erstellen von Webseiten. Das dezentrale Identitäts-, Kommunikations- und Berechtigungskonzept basiert auf weitverbreiteter Webserver-Technologie.</p>
				</div>
			</div>
<div class="row">
	<div>
		<p class="lead" style="font-size:1.2em; color:white;">Bereit zum Eintauchen? Registrieren Sie ein Konto auf </p>
		<p class="" style="font-size:1.2em; color:white; margin-bottom: 0;"><i> <a href="https://start.hubzilla.org" style="font-size:1.2em; color:white; font-weight:bold;">HUBZILLA ⟩⟩ Start</i></a></p>
		</div>
	</div>
			<div class="row"  style="padding-top: 50px;">
				<div >
					<div class="col-lg-1 col-md-1 col-sm-3 col-lg-offset-4 col-md-offset-3 col-sm-offset-2"><a class="btn btn-default btn-lg" href="https://demo.hubzilla.org">Teste die Demo</a></div> 
					<div class="col-lg-1 col-md-1 col-sm-1 col-lg-offset-1 col-md-offset-2 col-sm-offset-2"><a class="btn btn-default btn-lg" href="https://project.hubzilla.org/help/admin/administrator_guide">Betreibe einen eigenen Hub</a></div>
					<div class="col-lg-12 col-md-12 col-sm-12" style="padding-top: 50px;">
						<a href="#learn" class="btn btn-circle page-scroll">
							<i class="fa fa-angle-double-down animated"></i>
						</a>
						<div id="news-sticker">
							<ul>
								<li>
									<a href="https://project.hubzilla.org/channel/announcements/">
										<h2>Hubzilla<br><br><font size="+3">3.4</font><br><br>ist verfügbar!</h2>
									</a>
								</li>
							</ul>					
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<section id="learn" class="container content-section text-center">
		<div class="row learn-section">

			<div class="col-lg-6 col-md-6">
				<img src="https://raw.githubusercontent.com/anaqreon/hubzilla-website/master/assets/img/decentralisation.png" class="img-responsive">
				<div style="position:absolute ; top: 20%; right: 5%; color:#555555; width:50%;">
				</div>
				<div style="position:absolute ; bottom: 3%; left: 5%; color:#007A9A; width:55%;">
				</div>
			</div>
			<div class="col-lg-6 col-md-6">
				<h2>Ein dezentrales Netzwerk aus Hubs: Das "Grid"</h2>

				<p>Hubs sind miteinander kommunizierende Server die auf diese Weise ein Netzwerk bilden: das "Grid". Es gibt keinen zentralen Server. Das Netzwerk kann nicht ausfallen, da immer Hubs miteinander verbunden sind und den Nachrichtenaustausch sicherstellen. Hubs im Netzwerk können sich je nach Wunsch oder Einstellungen mit anderen Hubs verbinden. Auch völlig losgelöste, "off-the-grid" Netzwerke sind mit Hubzilla möglich, zB. für Schulen oder Vereine.
				</p>
				<h2>Kanäle und Verbindungen
				</h2>

				<p>Der Hubzilla-Kanal ist Deine grundlegende Identität im Grid. Ein Kanal kann eine Vielzahl von unterschiedlichen Dingen repräsentieren: zB. eine Person, ein Blog, ein Neuigkeiten-Ticker oder auch ein Forum. Kanäle können miteinander Beziehungen aufbauen um Informationen zu teilen, wobei die Zugriffsberechtigungen sehr detailliert definiert werden können. Die Kanaladresse hat ein vertrautes Format und ist dadurch leicht zu merken: channel@hub.domain. 
				</p>
				<h2>Nomadische Identität und Klone</h2>

				<p>Bei Hubzilla bekommst Du nicht einfach nur einen Login auf einer Seite, sondern <b>eine Identität</b> die Du überall im Netzwerk mitnehmen kannst. Nomadische Identität bedeutet also, Du bist wirklich im Besitz Deiner Online-Identität. Du kannst Deinen Kanal ausserdem auf andere Hubs klonen, um die Ausfallsicherheit zu verbessern oder Zensur zu verhindern. Oder Du kannst mit Deinem Kanal auf einen komplett anderen Hub umziehen und alle Deine Daten und Beziehungen/Verbindungen mitnehmen.
				</p>
			</div>

		</div>
		<div class="row learn-section">
			<div class="col-lg-6 col-md-6">

				<h2>Zugriffskontrolle</h2>

				<p>Typische Websiten sind isoliert voneinander und haben keine Ahnung, wer Zugriff auf die Inhalte hat. Die Zugriffskontrolle beschränkt sich maximal auf die Gewährung von Berechtigungen für einzelne Accounts. Tiefergehende Einstellungen sind nicht möglich, falls zB. der Zugriff auf einzelne Inhalte (oder Bilder) beschränkt werden soll. 
				Hubzilla dagegen erzwingt fein einstellbare Berechtigungen für alle Informationen die im Grid geteilt werden. Die Hubzilla Single Sign-on Anmeldung ermöglicht eine nahtlose Authentifizierung über unabhängige Webseiten in einer Art und Weise, die bisher nicht möglich war.

				</p>

				<h2>Got Zot?</h2>

				<p>Zot ist ein JSON-basiertes Web-Framework für die Implementierung sicherer dezentraler Kommunikation und dezentralen Diensten.
					Es unterscheidet sich von anderen Kommunikationsprotokollen, durch den Aufbau der Kommunikationen über ein dezentrales Identitäts- und Authentifizierungskonzept.
					Die Authentifikationskomponente ist vergleichbar mit dem OpenID-Konzept, bleibt aber isoliert von DNS-basierten Identitäten. Wo dies möglich ist, geschieht die entfernte Authentifikation still und unsichtbar, durch die skalierbare und webbasierte verteilte Zugriffskontrolle.
				</p>
				<ul>
					<li>vollständig dezentrale Kommunikation</li>
					<li>Isolation von DNS-basierter Identität</li>
					<li>Mobilität des Knotens</li>
					<li>unsichtbare oder reduzierte "Interaktion" bei entfernter Authentifikation</li>
					<li>Leistungsstärke</li>
				</ul>
			</div>

			<div class="col-lg-6 col-md-6">
				<img src="https://raw.githubusercontent.com/anaqreon/hubzilla-website/master/assets/img/access_control.png" class="img-responsive">
				<div style="position:absolute ; bottom: 0%; left: 25%; color:#007A9A; width:70%; background-color: #FFF;">
				</div>
			</div>
		</div>
	</section>
	<section id="discover" class="content-section text-center">
		<div class="row discover-section">
			<div class="container">
				<div class="col-lg-3 col-sm-6">
					<img alt="img" class="img-circle center-block drop-shadow hover-zoom" src="https://raw.githubusercontent.com/anaqreon/hubzilla-website/master/assets/img/plugins.png" style="width: 200px; height: 200px;">
					<h3>Plugins</h3>
					<p class="text-justify">Hubzilla ist erweiterbar. Neue Web-Apps können als Plugins hinzugefügt werden und die Leistungsfähigkeit dadurch angepasst und verbessert werden.</p>
				</div>
				<div class="col-lg-3 col-sm-6">
					<img alt="img" class="img-circle center-block drop-shadow hover-zoom" src="https://raw.githubusercontent.com/anaqreon/hubzilla-website/master/assets/img/toolkit.png" style="width: 200px; height: 200px;">
					<h3>Web Entwicklungs Toolkit</h3>
					<p class="text-justify">Verwende Comanche als Formatierungs-Syntax zur modularen, teilbaren und "identitätsbewussten" Webseitenerstellung.</p>

				</div>
				<div class="col-lg-3 col-sm-6">
					<img alt="img" class="img-circle center-block drop-shadow hover-zoom" src="https://raw.githubusercontent.com/anaqreon/hubzilla-website/master/assets/img/social.png" style="width: 200px; height: 200px;">
					<h3>Social Networking</h3>
					<p class="text-justify">Soziale Netzwerkfähigkeit ist ein Kernbestandteil der Hubzilla DNA. Nutze Deinen Kanal für die eigene Präsentation und erstelle Verbindungen zu anderen Kanälen, um Deine Inhalte zu teilen. Eine Kommunikation mit Diaspora, Friendica und anderen Netzwerken kann über Plugins hergestellt werden.</p>
				</div>
				<div class="col-lg-3 col-sm-6">
					<img alt="img" class="img-circle center-block drop-shadow hover-zoom" src="https://raw.githubusercontent.com/anaqreon/hubzilla-website/master/assets/img/filestorage.png" style="width: 200px; height: 200px;">
					<h3>Cloud Dateispeicher</h3>
					<p class="text-justify">Verbinde Deine Kanal-Cloud mit dem lokalen Dateisystem basierend auf dem WebDAV-Standard. Teile oder veröffentliche Deine Dateien mit fein einstellbarer Zugangskontrolle.</p>
				</div>
			</div>
		</div>
		<div class="row discover-section">
			<div class="container">
				<div class="col-lg-3 col-sm-6">
					<img alt="img" class="img-circle center-block drop-shadow hover-zoom" src="https://raw.githubusercontent.com/anaqreon/hubzilla-website/master/assets/img/themes.png" style="width: 200px; height: 200px;">
					<h3>Themes</h3>
					<p class="text-justify">Die Weboberfläche ist flexibel anpassbar, Theme-Entwicklung wird unterstützt. Gestalte Deinen Hub für <i>Deine</i> Community, Firma oder Vereine.</p>
				</div>
				<div class="col-lg-3 col-sm-6">
					<img alt="img" class="img-circle center-block drop-shadow hover-zoom" src="https://raw.githubusercontent.com/anaqreon/hubzilla-website/master/assets/img/events.png" style="width: 200px; height: 200px;">
					<h3>Ereignisse</h3>
					<p class="text-justify">Koordiniere und teile Termine mit der eingebauten Kalenderfunktion. Import/Export zwischen den gebräuchlichen Kalendarformaten.</p>
				</div>
				<div class="col-lg-3 col-sm-6">
					<img alt="img" class="img-circle center-block drop-shadow hover-zoom" src="https://raw.githubusercontent.com/anaqreon/hubzilla-website/master/assets/img/api.png" style="width: 200px; height: 200px;">
					<h3>API</h3>
					<p class="text-justify">Eine wachsende Liste von API-Funktionen ermöglicht es unabhängigen Programmen Hubs zu nutzen und dadurch die Reichweite des Netzwerks unendlich zu erweitern.</p>
				</div>
				<div class="col-lg-3 col-sm-6">
					<img alt="img" class="img-circle center-block drop-shadow hover-zoom" src="https://raw.githubusercontent.com/anaqreon/hubzilla-website/master/assets/img/opensource.png" style="width: 200px; height: 200px;">
					<h3>Freiheit</h3>
					<p class="text-justify">Hubzilla ist <b>Open Source</b>! Du darfst die Software nach Deinen Bedürfnissen nutzen und anzupassen. Wenn es um Privatsphäre und Datensicherheit geht, sollte jeder die Möglichkeit haben, den Quellcode zu überprüfen und zu verbesseren.</p>
				</div>
			</div>    
		</div>
	</section>
	<section id="download" class="content-section text-center">
		<div class="row download-section">
			<div class="container">
				<div class="col-lg-8 col-lg-offset-2">
					<h2>Download Hubzilla</h2>
					<p>Hubzilla ist freie und Open Source Software und schützt <i>Deine</i> Rechte mit der MIT-Lizenz.</p>
					<a href="https://framagit.org/hubzilla/core" class="btn btn-default btn-lg">Quellcode herunterladen</a>
				</div>
			</div>
		</div>
	</section>
	<section id="develop" class="content-section text-center">
		<div class="row develop-section">
			<div class="container">
				<div class="col-lg-2 col-lg-offset-1">
					<img alt="img" class="img-circle center-block drop-shadow" src="https://raw.githubusercontent.com/anaqreon/hubzilla-website/master/assets/img/zot.png" style="width: 200px; height: 200px;"> 
				</div>

				<div class="col-lg-8 col-lg-offset-1">
					<h2>Entwickler</h2>
					<p>Es ist noch eine Menge zu tun, dafür brauchen wir tatkräftige Entwickler. Sei ein Teil von etwas besonderem! Es gibt viele Möglichkeiten etwas beizutragen.</p>
					<ul class="list-inline banner-social-buttons">
						<li>
							<a href="https://project.hubzilla.org/channel/hubzilla" class="btn btn-default btn-lg"><img src="https://raw.githubusercontent.com/anaqreon/hubzilla-website/master/assets/img/hubzilla_logo_white_bkgd.png" width="25">&nbsp<span class="network-name"> On the grid</span></a>
						</li>
						<li>
							<a href="https://riot.im/app/#/room/#hubzilla:matrix.org" class="btn btn-default btn-lg"><span class="network-name"><span class="">[m]</span>hubzilla</span></a>
						</li>
						<li>
							<a href="https://framagit.org/hubzilla/core" class="btn btn-default btn-lg"><i class="fa fa-github"></i>&nbsp&nbsp<span class="network-name">Source Code</span></a>
						</li>
					</ul>
				</div>

			</div>
		</div>
	</section>
	<section id="donate" class="donate-section text-center"><div class="row donate-section">
			<div class="container">
				<div class="col-lg-12 col-md-12 col-sm-12">
					<h2>Spende für das Hubzilla Projekt</h2>
					<ul class="list-inline banner-social-buttons"><li>
							<a href="https://salt.bountysource.com/teams/hubzilla" class="btn btn-default btn-lg" title="BountySource"><img height="20" src="https://raw.githubusercontent.com/anaqreon/hubzilla-website/master/assets/img/bountysource_icon.png" alt="bountysource_icon.png" /> <span class="network-name">BountySource</span></a>
						</li>
					</ul></div>
			</div>
		</div>
	</section>